.paymentmain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2%;
  padding-right: 2%;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}

.paymentform {
  display: flex;
  padding-top: 2%;
  margin-top: 4%;
  flex-direction: column;
  justify-content: center;
  margin-right: 25%;
  margin-left: 25%;
  background-color: white;
}

.resumeofcommand {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5%;
  margin-bottom: 3%;
  width: 50%;
  font-size: 24px;
  color: grey;
  opacity: 0.9;
}

.checkoutform {
  background-color: #fff;
  width: 550px;
  padding: 25px;
  margin: 0 auto;
}

.paymentform span {
  font-size: 24px;
  color: black;
  line-height: 20px;
  margin-bottom: 3%;
}
.lastpathtext {
  font-size: 20px;
}
.paymentdetails {
  margin-left: 3%;
  margin-right: 3%;
}

.command,
.protectionfees,
.transportfees,
.totalfees {
  display: flex;
  width: 100%;
  padding-right: 2%;
  justify-content: space-between;
}

.command span {
  font-size: 22px;
}

.protectionfees span {
  font-size: 22px;
}

.transportfees span {
  font-size: 22px;
}

.totalfees {
  margin-top: 3%;
  border-top: solid 0.5px gainsboro;
}

.totalfees span {
  color: black;
  margin-top: 3%;
  font-size: 22px;
  font-weight: bold;
}

.lastpathtext {
  font-size: 20px;
  color: black;
  text-align: justify;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5%;
  margin-bottom: 4%;
  padding-bottom: 4%;
  border-bottom: solid 0.5px gainsboro;
}

.product_name,
.totalprice {
  font-weight: bold;
}

@media (max-width: 1100px) {
  .paymentmain {
    padding-left: 0;
    padding-right: 0;
  }

  .paymentform {
    padding-top: 0;
    margin-top: 1%;
    margin-right: 10%;
    margin-left: 10%;
  }

  .resumeofcommand {
    width: 100%;
    font-size: 18px;
    opacity: 1;
  }

  .checkoutform {
    width: 100%;
    padding-top: 20;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }

  .paymentform span {
    font-size: 18px;
    color: black;
    line-height: 20px;
    margin-bottom: 3%;
  }
  .lastpathtext {
    font-size: 18px;
  }

  .command,
  .protectionfees,
  .transportfees,
  .totalfees {
    width: 100%;
    padding-right: 1%;
  }

  .command span,
  .protectionfees span,
  .transportfees span {
    font-size: 18px;
  }

  .totalfees span {
    font-size: 18px;
  }

  .lastpathtext {
    font-size: 18px;
    text-align: justify;
  }
}

@media (max-width: 550px) {
  .paymentform > div {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
