.bankcardform {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
.bankcardbtnparent {
  display: flex;
  margin-top: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.bankcardbtn {
  height: 50px;
  width: 50%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 300;
  color: white;
  font-family: "Maison Neue";
  background-color: #2da8b1;
  cursor: pointer;
}
