.bankcardform {
  margin-left: 3%;
  padding: 2%;
  margin-right: 3%;
  margin-top: 5%;
  margin-bottom: 4%;
  display: flex;
}

.bankcardbtn {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid;
  color: white;
  font-family: inherit;
  background-color: red;
  cursor: pointer;
}
