.main {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  box-sizing: border-box;
  margin-bottom: 3%;
}

.headerbody {
  display: flex;
  flex-direction: row;
  height: 120px;
}

logo {
  height: 120px;
}

.logoimg {
  width: 60%;
  height: 60%;
  object-fit: contain;
  margin-right: 60px;
  margin-left: 10px;
  margin-bottom: 1%;
}

.search input {
  width: 630px;
  margin-top: 2%;
  height: 50px;
  padding-left: 50px;
  background-color: #f5f6f7;
  border: none;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 40px;
  font-size: 20px;
}

.searchicon {
  opacity: 0.3;
  position: absolute;
  top: 3%;
  left: 17, 5%;
  z-index: 10;
}

.threebuttons {
  padding-top: 0.5%;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  flex-direction: row;
  justify-content: space-between;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.inscriptionButton {
  margin-left: 30px;
  width: 115px;
  height: 35px;
  border-radius: 7px;
  margin-right: 10px;
  color: #2da8b1;
  border: solid 0.5px #2da8b1;
}

.connexionButton {
  margin-left: 20px;
  width: 115px;
  height: 35px;
  border-radius: 7px;
  margin-right: 60px;
  color: #2da8b1;
  border: solid 0.5px #2da8b1;
}

.purchase {
  margin-top: 0.5%;
}

.purchaseButton {
  width: 115px;
  height: 35px;
  border-radius: 5px;
  background-color: #2da8b1;
  color: white;
}

.logoutButton {
  margin-left: 20px;
  width: 115px;
  height: 35px;
  border-radius: 7px;
  margin-right: 60px;
  color: white;
  background-color: #c2165b;
  border: none;
  margin-top: 0px;
  padding-top: 0px;
}
