.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: auto 0px;
  padding: 10px 0px;
  /* box-sizing: border-box; */
}

.headerbody {
  display: flex;
  flex-direction: row;
  height: 120px;
}

.logo {
  height: 120px;
}

.logoimg {
  width: 60%;
  height: 60%;
  object-fit: contain;
  margin-right: 60px;
  margin-left: 10px;
  margin-bottom: 1%;
}

.search input {
  width: 630px;
  margin-top: 2%;
  height: 50px;
  padding-left: 50px;
  background-color: #f5f6f7;
  border: none;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 40px;
  font-size: 20px;
}

.searchicon {
  opacity: 0.3;
  position: absolute;
  top: 3%;
  left: 17, 5%;
  z-index: 10;
}

.priceMinMax {
  width: 5%;
  height: 10%;
}

.filters {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.threebuttons {
  padding-top: 0.5%;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  flex-direction: row;
  justify-content: space-between;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.inscriptionButton {
  margin-left: 30px;
  width: 115px;
  height: 35px;
  border-radius: 7px;
  margin-right: 10px;
  color: #2da8b1;
  border: solid 0.5px #2da8b1;
}

.connexionButton {
  margin-left: 20px;
  width: 115px;
  height: 35px;
  border-radius: 7px;
  margin-right: 60px;
  color: #2da8b1;
  border: solid 0.5px #2da8b1;
}

.purchase {
  margin-top: 0.5%;
}

.purchaseButton {
  width: 115px;
  height: 35px;
  border-radius: 5px;
  background-color: #2da8b1;
  color: white;
}

.logoutButton {
  margin-left: 20px;
  width: 115px;
  height: 35px;
  border-radius: 7px;
  margin-right: 60px;
  color: white;
  background-color: #c2165b;
  border: none;
  margin-top: 0px;
  padding-top: 0px;
}

.allbuttons {
  display: flex;
}

.toggle {
  width: 10%;
  margin-left: 0.2%;
  margin-right: 0.5%;
  box-sizing: border-box;
}

.togglespan {
  flex-wrap: nowrap;
  width: 17%;
}

.range {
  width: 80%;
}

.toggleandrange {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

@media (max-width: 1515px) {
  .search input {
    width: 300px;
    margin-top: 2%;
    height: 50px;
    padding-left: 20px;
  }

  .togglespan,
  .toggle {
    display: none;
  }
  .range {
    width: 50%;
  }
  .threebuttons {
    padding-top: 0.5%;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 0px;
  }

  .headerbody {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    height: 120px;
  }

  .logoimg {
    width: 50%;
    height: 50%;
  }
}

@media (max-width: 1330px) {
  .search input {
    width: 200px;
    height: 30px;
  }

  .search {
    margin-right: 30px;
  }

  .headerbody {
    height: 100px;
  }

  .inscriptionButton {
    margin-bottom: 5px;
  }

  .logo {
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100px;
  }
  .logoimg {
    width: 50%;
    height: 50%;

    margin-left: 0px;
    padding-left: 0px;
  }

  .search input {
    font-size: 14px;
  }

  .searchicon {
    display: none;
  }

  .inscriptionButton,
  .connexionButton {
    margin-left: 0px;
    width: 90px;
    height: 25px;
    font-size: 10px;
  }

  .purchaseButton {
    width: 90px;
    height: 25px;
    font-size: 10px;
  }

  .logoutButton {
    width: 90px;
    height: 25px;
    font-size: 10px;
    margin-right: 0px;
  }
}

@media (max-width: 960px) {
  .logoimg {
    width: 100%;
    height: 40%;
  }

  .logo {
    height: 100px;
  }

  .headerbody {
    justify-content: space-between;
  }

  .threebuttons {
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
  }

  .purchase {
    margin-left: 0px;
  }
}

@media (max-width: 500px) {
  .main {
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-between;
    min-width: 100vw;
  }

  .search input {
    margin-left: 20px;
  }

  .allbuttons {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .inscriptionButton {
    margin-left: 0px;
    margin-right: 0px;
  }

  .connexionButton {
    margin-left: 0px;
    margin-right: 0px;
  }

  .purchaseButton {
    margin-left: 0px;
    margin-right: 0px;
  }

  .logoutButton {
    margin-left: 0px;
    margin-right: 0px;
  }

  .threebuttons {
    margin-left: 0px;
  }
}
