.item {
  width: 20%;
  height: 450px;
  margin-left: 2%;
  margin-right: 1%;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

.offers-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  padding-left: 90px;
  padding-right: 90px;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

.offer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(63, 54, 54);
  width: 100%;
  font-size: 110%;
}

.offer-image {
  object-fit: cover;
  width: 290px;
  height: 200px;
  border-radius: 20px;
}

.offer-userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: grey;
  font-size: 110%;
}

@media (max-width: 1515px) {
  .offer-image {
    object-fit: cover;
    width: 130px;
    height: 130px;
  }

  .offers-container {
    height: 100%;
    width: 100%;
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .item {
    margin-left: 5px;
    margin-right: 0px;

    text-align: center;
  }

  @media (max-width: 700px) {
    .offers-container {
      flex-direction: column;
      margin-top: 5px;
      margin-bottom: 1px;
    }

    .item {
      height: 100%;
      width: 330px;
      margin-bottom: 30px;
      padding-bottom: 10px;
      background-color: #5edee7;
    }

    .offer-image {
      width: 300px;
      height: 300px;
    }
    .offer-info,
    .offer-userinfo {
      font-size: 15px;
    }
  }
}

@media (max-width: 500px) {
  .offers-container {
    display: flex;
    width: 100%;
    margin-left: 0px;
    flex-wrap: nowrap;
    margin-right: 0px;
    box-sizing: border-box;
  }
}
