.mainrange {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.price {
  height: 42px;
  width: 42px;
  border-radius: 4px;
  background-color: "#FFF";
  display: flex;
  justify-content: cente;
  align-items: center;
  box-shadow: "0px 2px 6px #AAA";
}

.seconddiv {
  position: absolute;
  top: -28px;
  color: "#fff";
  font-weight: bold;
  font-size: 14px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  padding: 4px;
  border-radius: 4px;
  background-color: #548bf4;
}

.thirddiv {
  height: 16px;
  width: 5px;
}
